@charset "UTF-8";

                .reserve_prdt_info{
                /*        border: 1px solid; border-color: cyan;*/
                    width: 100%; height: 10%;
                    box-sizing: border-box;
                }
                #main_view_top{
                    border: 1px solid; border-color: gray;
                    width: 100%; height: 90%;
                    box-sizing: border-box;
                }



                .etc_info{
                    border: 1px dotted; border-color: gray;
                    float: right;
                }

                .prdt{
                    border: 1px dotted; border-color: grey;
                    margin: 0;
                    width: 100%; height: 100%;
                    box-sizing: border-box;
                }

/*---main_view_top---*/
                #main_view{
                    border: 1px dashed; border-color: gray;
                    width: 100%; height: 90%;
                    box-sizing: border-box;
                }
                .select_seat_info{
                    border: 1px dashed; border-color: gray;
                    width: 100%; height: 10%;
                    box-sizing: border-box;
                }
/*---/main_view_top---*/
/*---reserve_prdt_info---*/

.title{
    border: 1px dashed; border-color: gray;
    width: 100%; height: 100%;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 230%;
    padding: 0;
}

/*---/reserve_prdt_info---*/

.top_info_area{
    border: 1px dashed; border-color: gray;
    width: 100%; height: 28%;
    box-sizing: border-box;
    background-color: 
}

.reserve_right>div:nth-child(2){
    border: 1px dashed; border-color: gray;
    width: 100%; height: 55%;
    box-sizing: border-box;
}
.reserve_right>div:nth-child(3){
    border: 1px dashed; border-color: gray;
    width: 100%; height: 5%;
    box-sizing: border-box;
}



.reserve_right>div:nth-child(2)>.bx_tit{
    border: 3px dotted; border-color: aqua;
    width: 100%; height: 25px;
}
.reserve_right .bx_tit h4{
/*        border: 3px solid; border-color: blue;*/
    display: inline;
    margin: 0;
}
.reserve_right .bx_tit>a,
.reserve_right .bx_tit>p{
/*        border: 3px dashed; border-color: red;*/
    float: right; margin: 0;
    display: inline;
    font-size: 14px;
}
#select_seat_grade{
    border: 3px solid; border-color: blue;
    margin: 0; padding: 10px;
    list-style: none;
}





