@charset "UTF-8";


/*---reserve_prdt_info---*/

.title{
    border: 1px dashed; border-color: gray;
    width: 100%; height: 100%;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 230%;
    padding: 0;
}

/*---/reserve_prdt_info---*/



    .top_info_area{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 28%;
        box-sizing: border-box;
    }
    
    .reserve_right>div:nth-child(2){
        border: 1px dashed; border-color: gray;
        width: 100%; height: 55%;
        box-sizing: border-box;
    }
    .reserve_right>div:nth-child(3){
        border: 1px dashed; border-color: gray;
        width: 100%; height: 5%;
        box-sizing: border-box;
    }

    
    
    .reserve_right>div:nth-child(2)>.bx_tit{
        border: 3px dotted; border-color: aqua;
        width: 100%; height: 25px;
    }
    .reserve_right .bx_tit h4{
/*        border: 3px solid; border-color: blue;*/
        display: inline;
        margin: 0;
    }
    .reserve_right .bx_tit>a,
    .reserve_right .bx_tit>p{
/*        border: 3px dashed; border-color: red;*/
        float: right; margin: 0;
        display: inline;
        font-size: 14px;
    }
    #select_seat_grade{
        border: 3px solid; border-color: blue;
        margin: 0; padding: 10px;
        list-style: none;
    }
    
    
    
    




    
        .reserve_left .reserve_step3 .title {
            display: inline-block;
            margin-bottom: 5px;
        }
        .reserve_left .reserve_step3 table {
            width: 100%;
            background: #fff;
            letter-spacing: 0;
        }
       caption {
            visibility: hidden;
            overflow: hidden;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
        }
        /*tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }*/
        /*tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }
        */
        .color_red {
            color: #ec2f09 !important;
        }
        .blind {
            display: block;
            visibility: hidden;
            overflow: hidden;
            position: absolute;
            top: -1000em;
            left: 0;
        }
        td .input_block {
            margin: 10px 0;
        }
        input[type=text].input, input[type=password].input {
            border: 1px solid #bebebe;
            padding: 1px 10px;
            height: 24px;
            line-height: 100%;
            vertical-align: middle;
        }
        .customer_check .input_block_lst {
            margin-top: 0;
            border: 1px solid #dedede;
            padding: 0px;
        }
        /*.customer_check .input_block_lst .checkbox {
            top: 50%;
            left: 19px;
            margin-top: -8px;
        }*/
        .input_block_lst label {
            line-height: 17px;
        }
        .customer_check .input_block_lst li {
            /*position: relative;*/
            margin-top: 0;
            padding: 13px 19px 12px 25px;
            border-top: 1px solid #dedede;
            background-color: #fff;
            list-style: none;
        }
        .title{
            margin-top: 20px;
        }